@model List<DevArena.Entities.Contests>
<div>
	<h1>Contests</h1>
	<div class="card shadow-sm border-0 rounded-4 mt-3">
		<div class="table-responsive">
			<table class="table table-hover align-middle mb-0">
				<thead class="table-light text-secondary text-uppercase small fw-semibold">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Start Date</th>
				<th scope="col">End Date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var contest in Model)
			{
				<tr>
					<td>@contest.title</td>
					<td>@contest.start_time.ToString("yyyy-MM-dd")</td>
					<td>@contest.end_time.ToString("yyyy-MM-dd")</td>
				</tr>
			}
		</tbody>
			</table>
		</div>
	</div>
</div>